@import url('https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css');
@import url('https://www.jqueryscript.net/demo/Responsive-jQuery-Modal-Window-Plugin-with-CSS3-Transitions-Custombox/src/jquery.custombox.css');

//loading
.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    cursor: progress;

    div {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #7369af;
        animation: lds-grid 1.2s linear infinite;

        &:nth-child(1) {
            top: 8px;
            left: 8px;
            animation-delay: 0s;
        }

        &:nth-child(2) {
            top: 8px;
            left: 32px;
            animation-delay: -0.4s;
        }

        &:nth-child(3) {
            top: 8px;
            left: 56px;
            animation-delay: -0.8s;
        }

        &:nth-child(4) {
            top: 32px;
            left: 8px;
            animation-delay: -0.4s;
        }

        &:nth-child(5) {
            top: 32px;
            left: 32px;
            animation-delay: -0.8s;
        }

        &:nth-child(6) {
            top: 32px;
            left: 56px;
            animation-delay: -1.2s;
        }

        &:nth-child(7) {
            top: 56px;
            left: 8px;
            animation-delay: -0.8s;
        }

        &:nth-child(8) {
            top: 56px;
            left: 32px;
            animation-delay: -1.2s;
        }

        &:nth-child(9) {
            top: 56px;
            left: 56px;
            animation-delay: -1.6s;
        }
    }
}

@keyframes lds-grid {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

//preview
.preview.hide {
    display: none;
}

//preview hover
.hover-popup {
    position: absolute;
    border: 1px solid #fff;
    background: #fff;
    padding: 4px 4px 1px 4px;
    display: none;
    border-radius: 1px;
    color: #fff;
}

//cursor loading
.cursor-progress {
    cursor: progress;
}

.cursor-pointer {
    cursor: pointer;
}

//button
.ZSS_manager {
    hr {
        border: 1px #9090905e solid;
        border-bottom: none;
        margin-bottom: 0;
    }

    button {
        margin-top: 7px;

        &::-moz-focus-inner {
            border: 0;
        }

        img {
            width: 10px;
        }

        &.minimal {
            background: #e3e3e3;
            border: 1px solid #bbb;
            border-radius: 1px;
            -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
            box-shadow: inset 0 0 1px 1px #f6f6f6;
            color: #333;
            font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
            padding: 5px 10px;
            text-align: center;
            text-shadow: 0 1px 0 #fff;
            margin-right: 5px;

            &.download {
                width: 160px;
                background: #eac300;
                border: 1px solid #967711;
                color: #69310a;
                text-shadow: 0 1px 0 #ecbf4f;

                &:hover {
                    background: #ffd400;
                    color: #69310a;
                }
            }

            &.download-high {
                width: 160px;
                background: #a00001;
                border: 1px solid #6d0505;
                color: #fff1e2;
                text-shadow: 0 1px 0 #802323;

                &:hover {
                    background: #e20707;
                    color: #fff1e2;
                }
            }

            &.disabled, &.disabled:hover {
                background: #b7b7b7;
                border: 1px solid #a9a9a9;
                color: #676767;
                text-shadow: 0 1px 0 #c1c1c1;
            }

            &:hover {
                background: #d9d9d9;
                -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
                box-shadow: inset 0 0 1px 1px #eaeaea;
                color: #222;
                cursor: pointer;
            }

            &:active {
                background: #d0d0d0;
                -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
                box-shadow: inset 0 0 1px 1px #e3e3e3;
                color: #000;
            }
        }
    }
}

//fancybox
.fancybox__content img {
    max-width: 100%;
}

.fancybox__caption a {
    color: #fff;

    &:hover {
        color: #fff1e2;
    }
}


.zss_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

//downloaded
.downloaded {
    color: #909090;
}


//detail
#detail.fix-image-over-screen img {
    max-width: 100%;
}

#saythankup span {
    color: #D91BEA;
    font-weight: bold;
}

//setting
.setting {
    position: fixed;
    bottom: 10px;
    right: -5px;
    width: 45px;
    height: 35px;
    background: #e7ecff;
    border-radius: 6px;
    border: 2px solid #000000a1;
    z-index: 20;

    img {
        width: 35px;
        transition: transform 2s;
        cursor: pointer;

        &:hover {
            transform: rotate(180deg);
        }
    }
}

#setting-panel {
    display: none;
    width: 600px;

    a:focus {
        outline: none;
    }

    h5 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    button {
        padding: 10px;
    }

    .form-group {
        padding-bottom: 5px;
        margin-bottom: 10px;
        border: 0 solid #e6e6e6;
        border-bottom-width: 1px;

        label {
            font-weight: 600;

            &.donate {
                color: #b7423c;
            }
        }

        .form-input {
            font-size: 12px;
            margin-top: 3px;
            margin-bottom: 3px;

            &.disabled {
                span {
                    color: gray !important;
                }
            }

            input[type="text"] {
                width: 80%;
            }

            select {
                width: 250px;
            }
        }

        span {
            font-size: 12px;
            color: #6f6f6f;

            &.green {
                color: forestgreen;
            }

            &.red {
                color: #ef2e2e;
            }
        }
    }
}

.status-bar{
    position: fixed;
    top: 0;
    height: 20px;
    background: #fff;
    width: 100%;
    margin: 0 -8px;
    padding:2px 10px;
    font-size: 10pt;
    display: none;
    opacity: 0.9;
}